/* ContactList.css */

div {
    font-family: 'Arial', sans-serif;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color:bisque;
    color:brown;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:antiquewhite;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color:brown;
    color: #fff;
  }
  
  tbody tr:hover {
    background-color:antiquewhite;
  }
  
  div.pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  div.pagination button {
    background-color:aliceblue;
    color:brown;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  div.pagination button:hover {
    background-color: #2980b9;
  }
  
  div.error {
    color: red;
  }
  
  div.success {
    color:brown;
  }
  